{
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "printWidth": 100,
  "singleQuote": true,
  "bracketSpacing": false,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore"
}
