---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <div class="flex flex-col gap-8">
    <h1 class="text-4xl">Imprint / Impressum</h1>
    <div>
      <p>Media owner / Medieninhaber: Dominik Dafert, 1100 Wien</p>
      <p>
        Contact / Kontakt: <a
          class="list-link"
          rel="noopener"
          href="mailto:contact@dafnik.me"
          target="_blank">
          contact@dafnik.me
        </a>
      </p>
    </div>

    <div>
      <h2 class="text-2xl">Data privacy / Datenschutz</h2>
      <p>There is no information generated on a website visit.</p>
      <p>Bei einem Aufruf auf dieser Website entstehen keine Daten auf meinem Server.</p>
    </div>
  </div>
</BaseLayout>

<style>
  @reference "../styles/global.css";

  body {
    @apply text-lg;
  }
</style>
