---
import {Icon} from 'astro-icon/components';
---

<html lang="en">
  <head>
    <title>dafnik.me ⚛ Dominik</title>

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="This is my personal website, here you can find passionate projects and awesome social media accounts."
    />

    <meta property="og:url" content="https://dafnik.me" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="dafnik.me ⚛ Dominik" />
    <meta
      property="og:description"
      content="Find passionate projects and awesome social media accounts from me."
    />
    <meta property="og:image" content="https://dafnik.me/images/favicon.ico" />

    <meta name="generator" content={Astro.generator} />
  </head>

  <body>
    <div class="mx-8 flex flex-col gap-16 py-16 md:container md:mx-auto">
      <div>
        <span class="nameMiddle">Hi! I'm</span><br class="flex md:hidden" />
        <span id="nameBig" class="rainbow-text">Dominik</span><br class="flex md:hidden" /><span
          class="nameMiddle">
          or you maybe know me as Dafnik.
        </span>
      </div>
      <h1 class="jetbrains-mono text-3xl">
        This is my personal website, where you can find passionate projects and awesome social media
        accounts.
      </h1>

      <div class="flex flex-col gap-4">
        <h2 class="text-3xl font-bold">social</h2>

        <div class="jetbrains-mono flex flex-wrap items-center gap-4">
          <a
            class="header-link link-hover"
            rel="noopener"
            href="https://github.com/Dafnik"
            target="_blank">
            github <Icon name="social/github" />
          </a>

          <span>/</span>
          <a
            class="header-link link-hover"
            rel="me noopener"
            href="https://voi.social/@Dafnik"
            target="_blank">
            mastodon <Icon name="social/mastodon" />
          </a>

          <span>/</span>
          <a
            class="header-link link-hover"
            rel="noopener"
            href="mailto:contact@dafnik.me"
            target="_blank">
            email <Icon name="social/email" />
          </a>

          <span>/</span>

          <a
            class="header-link link-hover"
            rel="noopener"
            href="https://gitlab.com/Dafnik"
            target="_blank">
            gitlab <Icon name="social/gitlab" />
          </a>

          <span>/</span>

          <a class="header-link link-hover" rel="noopener" href="./imprint" target="_blank">
            imprint <Icon name="social/imprint" />
          </a>
        </div>
      </div>

      <div class="flex flex-col justify-between gap-4 md:flex-row">
        <div class="flex flex-col gap-24">
          <div>
            <h2 class="text-3xl font-bold">> project</h2>

            <ol class="jetbrains-mono">
              <li>
                <a
                  class="list-link link-hover"
                  rel="noopener"
                  target="_blank"
                  href="https://kellner.team">
                  kellner.team
                </a>
              </li>
              <li>
                <a class="list-link link-hover" href="#">poweruptime</a>
              </li>
              <li>
                <a
                  class="list-link link-hover"
                  rel="noopener"
                  target="_blank"
                  href="https://gitlab.com/DatePoll">
                  DatePollSystems
                </a>
              </li>
              <li>
                <a
                  class="list-link link-hover"
                  rel="noopener"
                  target="_blank"
                  href="https://datepollsystems.org/">
                  DatePoll
                </a>
              </li>
              <li>
                <a
                  class="list-link link-hover"
                  rel="noopener"
                  target="_blank"
                  href="https://voi.social">
                  voi.social
                </a>
              </li>
            </ol>
          </div>

          <div>
            <h2 class="text-3xl font-bold">other stuff</h2>

            <ol class="jetbrains-mono">
              <li>
                <a class="list-link link-hover" rel="noopener" href="https://status.dafnik.me">
                  status monitor
                </a>
              </li>
              <li>
                <a
                  class="link-hover list-link"
                  rel="noopener"
                  target="_blank"
                  href="https://releases.datepoll.org">
                  releases.datepoll.org
                </a>
              </li>
            </ol>
          </div>
        </div>

        <div class="flex flex-col">
          <h2 class="text-3xl font-bold">< projects</h2>

          <ol class="jetbrains-mono">
            <li>
              <a
                class="list-link link-hover"
                rel="noopener"
                target="_blank"
                href="https://npmjs.org/package/dfx-qrcode">
                dfx-qrcode
              </a>
            </li>

            <li>
              <a
                class="list-link link-hover"
                rel="noopener"
                target="_blank"
                href="https://npmjs.org/package/dfx-openapi">
                dfx-openapi
              </a>
            </li>
            <li>
              <a
                class="list-link link-hover"
                rel="noopener"
                target="_blank"
                href="https://npmjs.org/package/dfx-bootstrap-icons">
                dfx-bootstrap-icons
              </a>
            </li>
            <li>
              <a
                class="list-link link-hover"
                rel="noopener"
                target="_blank"
                href="https://npmjs.org/package/dfx-bootstrap-table">
                dfx-bootstrap-table
              </a>
            </li>

            <li>
              <a
                class="list-link link-hover"
                rel="noopener"
                target="_blank"
                href="https://voi.social/@year_progress">
                year progress bot
              </a>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </body>
</html>

<style>
  /* cyrillic-ext */
  @font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src:
      local('Jetbrains Mono'),
      url('./fonts/tDbV2o-flEEny0FZhsfKu5WU4xD2OwG_TA.woff2') format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }

  /* cyrillic */
  @font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src:
      local('Jetbrains Mono'),
      url('./fonts/tDbV2o-flEEny0FZhsfKu5WU4xD_OwG_TA.woff2') format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }

  /* latin-ext */
  @font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src:
      local('Jetbrains Mono'),
      url('./fonts/tDbV2o-flEEny0FZhsfKu5WU4xD1OwG_TA.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
      U+2C60-2C7F, U+A720-A7FF;
  }

  /* latin */
  @font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src:
      local('Jetbrains Mono'),
      url('./fonts/tDbV2o-flEEny0FZhsfKu5WU4xD7OwE.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
      U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* cyrillic-ext */
  @font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src:
      local('Jetbrains Mono'),
      url('./fonts/tDbV2o-flEEny0FZhsfKu5WU4xD2OwG_TA.woff2') format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }

  /* cyrillic */
  @font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src:
      local('Jetbrains Mono'),
      url('./fonts/tDbV2o-flEEny0FZhsfKu5WU4xD_OwG_TA.woff2') format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }

  /* latin-ext */
  @font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src:
      local('Jetbrains Mono'),
      url('./fonts/tDbV2o-flEEny0FZhsfKu5WU4xD1OwG_TA.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
      U+2C60-2C7F, U+A720-A7FF;
  }

  /* latin */
  @font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src:
      local('Jetbrains Mono'),
      url('./fonts/tDbV2o-flEEny0FZhsfKu5WU4xD7OwE.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
      U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* latin-ext */
  @font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:
      local('Space Grotesk'),
      url('./fonts/V8mQoQDjQSkFtoMM3T6r8E7mF71Q-gOoraIAEj7aUXsqPMBTTA.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
      U+2C60-2C7F, U+A720-A7FF;
  }

  /* latin */
  @font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:
      local('Space Grotesk'),
      url('./fonts/V8mQoQDjQSkFtoMM3T6r8E7mF71Q-gOoraIAEj7aUXskPMA.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
      U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  body {
    @apply m-0 bg-black p-0 text-2xl text-white;
  }

  /*noinspection ALL*/
  .rainbow-text {
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
    color: transparent;
    background-clip: text;
    /* Fuck you chrome! https://caniuse.com/?search=background-clip%3A%20webkit */
    -webkit-background-clip: text;
  }

  .jetbrains-mono {
    font-family: 'JetBrains Mono', monospace;
  }

  #nameBig {
    @apply mx-1 text-8xl;

    font-family: 'Space Grotesk', sans-serif;
  }

  .nameMiddle {
    @apply text-5xl;
    font-family: 'Space Grotesk', sans-serif;
  }

  .list-link {
    @apply relative block whitespace-nowrap text-nowrap break-keep;
    width: 90%;
  }

  .header-link {
    @apply relative inline-flex items-center gap-2 pe-3 font-thin;
  }

  .link-hover::after {
    content: '';
    background: white;
    mix-blend-mode: exclusion;
    width: calc(100% + 10px);
    height: 0;
    position: absolute;
    bottom: -4px;
    left: -10px;
    transition: all 0.18s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  .link-hover:hover::after {
    height: calc(100% + 8px);
  }

  ol {
    @apply ms-10;

    list-style-type: cjk-ideographic;
  }

  li {
    @apply mt-8;
  }
</style>

<script>
  const nameBig = document?.getElementById('nameBig');

  if (nameBig) {
    nameBig.classList.remove('rainbow-text');
    if (new Date().getMonth() === 5) {
      nameBig.classList.add('rainbow-text');
    } else {
      const colors = [
        '#AED581',
        '#8BC34A',
        '#1DE9B6',
        '#29B6F6',
        '#40C4FF',
        '#BBDEFB',
        '#42A5F5',
        '#B39DDB',
        '#4DB6AC',
        '#81D4FA',
        '#EF9A9A',
        '#F4FF81',
        '#CCFF90',
        '#FFC107',
        '#FF3D00',
        '#18FFFF',
      ];
      nameBig.style.color = colors[Math.floor(Math.random() * colors.length)];
    }
  }
</script>
